# Local secrets and credentials
*.auto.tfvars
terraform.tfvars
access-token
.access-token
*.pem
*.key

# Terraform runtime
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
